<div class="container">
    <h2>EDIT MOVIE</h2>
    <!-- to be add the bootstrap -->
    <form action="" class="form-group" method="get">
        <div class="container">
            <label for="titile" class="">Movie Name</label>
            <input type="text" name="title" id="" class="form-control" required maxlength="200">
            <div class="form-row row">
                <div class=" col-lg-3">
                    <label for="price" class="">BOX-OFFICE</label>
                    <input type="text" name="price" id="" class="form-control" required>
                </div>
                <div class=" col-sm-3">
                    <label for="dateOfLaunch" class="">Date of
                        Launch</label>
                    <input type="date" name="dateOfLaunch" id="" class="form-control" required>

                </div>
                <!-- see the list of all movies with title, box office, active, date of launch, genre (Science Fiction, Superhero,
                     Romance, Comedy, Adventure, Thriller), has teaser, favorite indicator -->
                <div class=" col-sm-3">
                    <label for="category" class="">Genre</label>
                    <select name="category" id="" class="form-control" required>
                        <option value="Science Fiction">Science Fiction</option>
                        <option value="Superhero">Superhero</option>
                        <option value="Romance">Romance</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Thriller">Thriller</option>
                    </select>
                </div>

                <div class=" col-sm-3">
                    <label for="active" class="">Active</label>
                    <div>
                        <input type="radio" name="active" id="yes" value="yes" class="">Yes
                        <input type="radio" name="active" id="no" value="no" class="">NO
                    </div>
                </div>
            </div>
            <div class="">
                <input type="checkbox" name="freeDelivery" id="form-control" class="">
                <label for="freeDelivery" class="">Has Teaser</label>
            </div>
            <input type="submit" value="Save" class="btn btn-danger">
        </div>
    </form>
</div>