<!--    footer-->
<footer class="page-footer container-fluid text-center position-bottom navbar navbar-fixed-bottom  bg-dark">
    <div class="footer-copyright text-light">Copyright 2019 </div>
</footer>